.header {
  display: flex;
  align-items: center;
  padding: 20px;
  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgb(0, 0, 0, 0.75);
  background-color: white;
  height: 4vh;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  width: 40px;
  height: 40px;
}

.header__leftInput {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  border-radius: 999px;
  margin-left: 10px;
}

.header__leftInput > input {
  outline: none;
  border: none;
  background: transparent;
}

.header__center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__end {
  display: flex;
  align-items: center;
}

.header__centerOption {
  padding-left: 60px;
  padding-right: 60px;
}

.header__centerOption:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  align-items: center;
  border-bottom: none;
}

.header__centerOption > .MuiSvgIcon-root {
  color: #90949b;
}

.header__centerOption:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__centerOption--active {
  border-bottom: 4px solid #2e81f4;
}

.header__end {
  display: flex;
  align-items: center;
}

.header__end > h4 {
  padding-left: 20px;
}
